.box{
    display: flex;
    justify-content: space-between;
}
/* nav ul li a{
    display: flex;
} */
.ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;

    
}
.ul li a{
    text-decoration: none;
    color: black;
    margin-left: 15px
}